*{
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}

#banner {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    padding: 2%;
    height: 420px;
    width: 100%;
    font-size: 100px;
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    background-image: url(imagenes/banner.gif );
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.dflex {
    display: flex;
}
.centrar {
    display:flex;
    justify-content:center;
    align-items:center;
}

.separar {
    justify-content: space-between;
}

.columna {
    flex-direction: column;
}

main {
    padding: 5%;
    width: 90%;
}

.h50 {
    height: 50%;
}

header {
    height: 60px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    font-family: Impact;
    display: flex;
    justify-content: space-between;
    align-items: center;




    & .logo {
       
        height: 40px;
        width: 100%;
        background-color: rgba(247, 247, 247, 0.281);
        display: flex;
        justify-content: space-between;
        align-items: center;

        & span:first-child {
            font-size: 20pt;
        }

        & span:nth-child(2) {
            color: white;
        }
    }


    & .botonera {
        height: 30px;
        display: flex;

        & a {
            text-decoration: none;
            font-size: 16pt;
            padding: 5px 15px;
            background-color: rgb(255, 224, 186);
            border-radius: 6px;
        }

        & a:hover {
            box-shadow: 0px 0px 15px black;
        }
    }
}

#descrip {
    padding: 2%;
    height: 200px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    font-family:georgia;

}

#descrip .titulo {

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    color: white;
    font-size: 150%;
    text-shadow: 0px 0px 15px black;

}

#descrip .tex2 {
    display: flex;

}

.b2 {
     background-image: url("imagenes/image2.jpg");
    background-size: 100% 100%;
}

.a1 {
    width: 100%;
}

.b2 {
    width: 100%;
}

#productos {
    justify-content: center;
    height: 420px;
    width: 100%;
    display: flex;
    font-family: georgia;

    & .bth {

        background-color: rgba(255, 250, 251, 0);
        border-color: white;
        font-size: 15px;
        color: white;
        box-shadow: 0px 0px 1px black;
        border: solid;
        width: 90%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


    }

}

#productos {
    & .obra {
        height: 100%;
        padding: 1%;
        border: solid;
        border-color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    & .o1{
        background-color: rgba(236,243,158,255);
    }
    & .o2{
        background-color: rgba(9,95,181,255);
    }
    & .o3{
        background-color:  rgba(58,188,88,255);
    }
    & .o4{
        background-color:  rgba(118,107,203,255);
    }

}
#productos h3{
    font-family:'Arial Narrow Bold', sans-serif;
    color:white;
    text-shadow: 0px 0px 15px black;
}


#productos .imageo {
    height: 260px;
    width: 200px;
    object-fit: cover;

}

#one {
    background-color: black;
}

span {
    font-size: 25px;
}


header .botonera {
    justify-content: flex-end;
}

#staff {
    
    height: 100%;
    width: 100%;
    & .titulo{
        display:flex;
        justify-content:center;
        background-color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
        color: white;
        font-size: 50px;
        text-shadow: 0px 0px 15px black;
    }
}
#spersonas {
    display:flex;
    justify-content:space-between;
    & .persona{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
   
    & .redondear{
            width:200px;
            height:200px;
            border-radius:150px;    
            img{
                object-fit:cover;
                height:100%;
            }
        }
}
footer{
    font-family:georgia;
    background-color:gray;
    ]
